<!DOCTYPE html>
<html>
  <head>
  <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>
  <body>
    <h1>Hello</h1>
    <<div>
      <img src="/sign/test" />
    </div>
  </body>
</html>
